doctrine_migrations:
    migrations_paths:
        # namespace is arbitrary but should be different from App\Migrations
        # as migrations classes should NOT be autoloaded
        'MatchMaker': '%kernel.project_dir%/src/Infra/MatchMaker/Storage/migrations'
    enable_profiler: '%kernel.debug%'
